@model IEnumerable<MailChimpAPIDemo.Controllers.McList>
@{
    ViewBag.Title = "Home Page";
}
<h3>MailChimpLists</h3>
<table>
    <thead>
        <tr>
            <th>List Id</th>
            <th>List name</th>
            <th>Subscribers</th>
            <th>Unsubscribers</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var result in Model)
        {
            <tr>
                <td>@result.ListId</td>
                <td>@result.ListName</td>
                <td>@result.MemberCount</td>
                <td>@result.UnsubscribeCount</td>
            </tr>
        }
    </tbody>
</table>

